name: Docker Image CI

on:
  push:
    branches: [ docker-ci ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file code/Dockerfile --tag fl-seminar-code:$(date +%s)
